<div class="container">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div class="wTitle">
        Panel główny
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div class="welcomeTest">
        Poniżej znajdują się quizy przygotowane dla Ciebie
      </div>
    </div>
    <div fxLayout="row" fxFlex="80%">

      <div class="treeContainer">
        <div class="collapse multi-collapse show" id="questionList">

          <div *ngFor="let test of tests; let i = index">
            <button class="quizButton questionButton" (click)="onTest(test.id)">
              {{i+1}} &nbsp;&nbsp;&nbsp;{{test.name}}</button>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>