<form [formGroup]="userForm">
<div class="container">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="row" >
      <div class="wTitle login">
       Logowanie
      </div>
    </div>
    <br>
    <div fxLayout="row" class="inputPos">
  <div class="input-group mb-3">
    <div class="input-group-prepend" >
      <span class="input-group-text inputStyle"  >
        <i class="material-icons">
        person
        </i></span>
    </div>
    <input type="text" class="form-control" placeholder="Login" 
    aria-label="Username" aria-describedby="basic-addon1"  formControlName="username">
  </div>  
  </div>
  <div fxLayout="row" class="inputPos">
    <div class="input-group mb-3">
      <div class="input-group-prepend" >
        <span class="input-group-text inputStyle"  ><i class="material-icons">
          lock
          </i></span>
      </div>
      <input type="password" class="form-control" placeholder="Hasło" 
      aria-label="Username" aria-describedby="basic-addon1"  formControlName="password">
    </div>  
    </div>
    <div fxLAyout="row">
      <button mat-raised-button class="continue "
      (click)="onLogIn()">Zaloguj</button>
    </div>
    <br>
    <br>
    <div fxLAyout="row" class="registerText">
      Nie masz konta?
    </div>
    <div fxLAyout="row">     
      <button mat-raised-button class="continue newAccount"
      (click)="onClick()">Zarejestruj</button>
    </div>
    <br>
</div>
</div>
</form>