<form [formGroup]="newTestForm">
  <div class="container">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100%">
      <div fxLayout="row" class="wTitle">
        Nowy quiz
      </div>
      <div fxLayout="row" class="rowPos" fxFlex="100%">
          <div fxLayout="column" fxFlex="50%" class="colleft" fxLayoutAlign="start center" > 
              <div fxLayout="row" class="inputPos">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend" >
                      <span class="input-group-text inputStyle"  >
                        <i class="material-icons">
                            keyboard_arrow_right
                        </i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Nazwa quizu" 
                    aria-label="quizName" aria-describedby="basic-addon1"
                    formControlName="name" >
                  </div>  
                  </div>
              <div fxLayout="row">
                  <div class="input-group mb-3">
                  <div class="input-group-prepend" >
                      <span class="input-group-text inputStyle"  >
                        <i class="material-icons">
                            keyboard_arrow_right
                        </i></span>
                    </div>
                <div class="form-group">
                 
                  <select class="form-control" id="exampleFormControlSelect1" 
                  formControlName="course" >
                    <option selected>Kierunek studiów</option>
                    <option *ngFor="let course of coursesTable">
                        {{course.NAME}}
                    </option>
             
                  </select>
                </div>
              </div>
              </div>
              <div fxLayout="row">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend" >
                          <span class="input-group-text inputStyle"  >
                            <i class="material-icons">
                                keyboard_arrow_right
                            </i></span>
                        </div>
                    <div class="form-group">
                     
                      <select class="form-control" id="exampleFormControlSelect1" 
                      formControlName="multipleChoice">
                        <option selected>Krotność</option>
                        <option>jednokrotny</option>
                        <option>wielokrotny</option>
                      </select>
                    </div>
                  </div>    
              </div>
              <div fxLayout="row">
                  
                      <div class="input-group mb-3">
                      <div class="input-group-prepend" >
                          <span class="input-group-text inputStyle"  >
                            <i class="material-icons">
                                keyboard_arrow_right
                            </i></span>
                        </div>
                      
                        <div class="form-group ">
                        <input class="form-control" type="number" placeholder="Ilość pytań"
                          id="example-number-input" formControlName="nOQuestions" >
                    </div>
              </div></div>
          </div>
         
          <div fxLayout="column" fxFlex="50%" class="colright" fxLayoutAlign="start center">
              <div fxLayout="row">
                
                      
                      <textarea class="form-control textAreaSize" rows="5"
                      placeholder="Dodatkowy opis" formControlName="description"></textarea>
               
              </div>
              <div fxLayout="row">
                  <div class="form-check checkPos">
                      <label class="form-check-label">
                          
                        <input class="form-check-input" type="checkbox"  value=""
                        formControlName="limitedTime" (click)="onClickLimitedTime()">
                        
                        &nbsp; limit czasu
                      </label>
                      
                    </div>
              </div>
              <div fxLayout="row">
                  
                  <div class="input-group mb-3 durationPos ">
                  <div class="input-group-prepend" >
                      <span class="input-group-text inputStyle"  >
                        <i class="material-icons">
                            keyboard_arrow_right
                        </i></span>
                    </div>
                  
                    <div class="form-group ">
                    <input class="form-control" type="time" placeholder="Długość trwania"
                      id="example-number-input"formControlName="time" >
                </div>
          </div></div>

          </div>
        </div>
        <div fxLayout="row" class="bottomRowPos" fxFlex="20%">
           
          <div fxLayout="column" fxFlex="50%" class="colleft" fxLayoutAlign="start center" > 
                <div fxLayout="row" class="inputPos">
                    <button mat-raised-button class="continue"
                    >Anuluj</button>
                  </div>
            </div>
            <div fxLayout="column" fxFlex="50%" class="colleft" fxLayoutAlign="start center" > 
                <div fxLayout="row" class="inputPos">
                    <button mat-raised-button class="continue"  (click)="onCreate()"
                    >Zatwierdź</button>
                  </div>
            </div>
          </div>
    </div>
  </div>
</form>