<form [formGroup]="newTestForm" *ngIf="initialized">
  <div class="container-fluid newTest">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100%">
      <div class="wTitle" *ngIf="newTest">
        Nowy quiz
      </div>
      <div class="wTitle" *ngIf="!newTest">
        {{testName}}
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" class="rowPos" fxFlex="100%">
        <div fxLayout="column" fxFlex="50%" fxLayout.ls-md="row" fxFlex.lt-md="100%" class="colleft" fxLayoutAlign="start center" >
          <div class="inputPos">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text inputStyle">
                  <i class="material-icons">
                    keyboard_arrow_right
                  </i></span>
              </div>
              <input type="text" class="form-control" placeholder="Nazwa quizu" aria-label="quizName" aria-describedby="basic-addon1"
                formControlName="name" [ngClass]="(newTestForm.controls.name.valid || !newTestForm.controls.name.touched)?'':'invalid'">
            </div>
          </div>
          
          <div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text inputStyle">
                  <i class="material-icons">
                    keyboard_arrow_right
                  </i></span>
              </div>
              <div class="form-group">

                <select class="form-control" id="exampleFormControlSelect1" formControlName="subject" [ngClass]="(newTestForm.controls.subject.valid || !newTestForm.controls.subject.touched)?'':'invalid'">
                  <option>Przedmiot</option>
                  <option *ngFor="let subject of subjects " [value]="subject">
                    {{subject}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text inputStyle">
                  <i class="material-icons">
                    keyboard_arrow_right
                  </i></span>
              </div>
              <div class="form-group">

                <select class="form-control" id="exampleFormControlSelect1" formControlName="multipleChoice" [ngClass]="(newTestForm.controls.multipleChoice.valid || !newTestForm.controls.multipleChoice.touched)?'':'invalid'">
                  <option>Krotność</option>
                  <option *ngFor="let choice of multipleChoiceTable" [value]="choice">
                    {{choice}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        
          <div>
            <div class="form-check newUserCheckPos">
              <label class="form-check-label">

                <input class="form-check-input" type="checkbox" value="" formControlName="newUser" (click)="onClickNewUser()">

                &nbsp; Utwórz nowego użytkownika
              </label>

            </div>
          </div>
          <div *ngIf="newUser">
            <div class="inputPos">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text inputStyle"><i class="material-icons">
                      mail
                    </i></span>
                </div>
                <input type="text" class="form-control" placeholder="E-mail" formControlName="email" [ngClass]="(newTestForm.controls.email.valid || !newTestForm.controls.email.touched)?'':'invalid'">
              </div>
            </div>
            <div class="inputPos">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text inputStyle"><i class="material-icons">
                      vpn_key
                    </i></span>
                </div>
                <input type="password" class="form-control" placeholder="Hasło" formControlName="password" [ngClass]="(newTestForm.controls.password.valid || !newTestForm.controls.password.touched)?'':'invalid'">
              </div>
            </div>
            <div class="inputPos">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text inputStyle"><i class="material-icons">
                      vpn_key
                    </i></span>
                </div>
                <input type="password" class="form-control" placeholder="Powtórz hasło" formControlName="passwordRepeat"
                  [ngClass]="(newTestForm.controls.passwordRepeat.valid || !newTestForm.controls.passwordRepeat.touched)?'':'invalid'">
              </div>
            </div>
          </div>
          <div *ngIf="!newUser" class="inputPos">
            
              
<!--
                <select class="form-control" id="exampleFormControlSelect2" formControlName="course" 
                [ngClass]="(newTestForm.controls.course.valid || !newTestForm.controls.course.touched)?'':'invalid'">
                  <option selected>Kierunek studiów</option>
                  <option *ngFor="let course of coursesTable" [value]="course">
                    {{course}}
                  </option>

                </select>-->

                <div class="input-group mb-3 ">
                  <div class="input-group-prepend">
                    <span class="input-group-text inputStyle">
                      <i class="material-icons">
                        keyboard_arrow_right
                      </i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Identyfikator grupy" aria-label="groupName" aria-describedby="basic-addon1"
                    formControlName="course" >
                </div>
            
            </div>
          
          <div>
            <div class="form-check checkSeparatedPos">
              <label class="form-check-label">

                <input class="form-check-input" type="checkbox" value="" formControlName="separatedPages" (click)="onClickSeparatedPages()">

                &nbsp; pytania na osobnych stronach
              </label>

            </div>
          </div>
          <div>
            <div class="form-check checkSeparatedPos ">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value="" formControlName="canBack">
                &nbsp; możliwość powrotu do poprzedniego pytania
              </label>
            </div>
          </div>
        </div>

        <div fxLayout="column" fxFlex="50%" class="colright" fxLayout.ls-md="row" fxFlex.lt-md="100%" fxLayoutAlign="start center">
          <div>

            <textarea class="form-control textAreaSize" rows="5" placeholder="Dodatkowy opis" formControlName="description"></textarea>

          </div>
          <div>
            <div class="form-check checkPos">
              <label class="form-check-label">

                <input class="form-check-input" type="checkbox" value="" formControlName="limitedTime" (click)="onClickLimitedTime()">

                &nbsp; limit czasu
              </label>

            </div>
          </div>
          <div>

            <div class="input-group mb-3 durationPos ">
              <div class="input-group-prepend">
                <span class="input-group-text inputStyle">
                  <i class="material-icons">
                    keyboard_arrow_right
                  </i></span>
              </div>

              <div class="form-group ">
                <input class="form-control" type="time" placeholder="Długość trwania" id="example-number-input2"
                  formControlName="time">
                  <small class="form-text text-muted"> Format czasu HH:MM</small>
              </div>
            </div>
          </div>
          <div>
            <div class="form-check checkSeparatedPos">
              <label class="form-check-label">

                <input class="form-check-input" type="checkbox" value="" formControlName="randomize">

                &nbsp; losowanie pytań
              </label>

            </div>
          </div>

        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" class="bottomRowPos" fxFlex="20%">

        <div class="inputPos" (click)=" onBack()">
          <button mat-raised-button class="continue">Anuluj</button>
        </div>
        <div class="inputPos">
          <button mat-raised-button class="continue" (click)="onCreate()">Zatwierdź</button>
        </div>
      </div>
    </div>
  </div>
</form>