.inputPos{
    width:250px;
    margin:0;
    margin-bottom: 16px;
  }

.textAreaSize{
    height:8em;
    width:360px;
}

.rowPos{
    margin-top:60px;
    width:100%;
    min-height: 270px;
}

.bottomRowPos{
    margin-top:30px;
    /*width:100%;*/

}

.checkPos{
    margin-top:40px;
}

.checkSeparatedPos{
    margin-top:30px;
    margin-bottom:1.5rem;
}

.durationPos{
    margin-top:20px;
}

.wTitle{
    margin-bottom: 30px !important;
}

.courseSlide{
  color: #ededed;
}

.newUserCheckPos{
margin-bottom:2rem;
}

.invalid{
    border-color: red;
    background-color: #ffc0c0;
}

.newTest{
    max-width: 95% ;
}



@media only screen and (max-width: 500px) {
    .textAreaSize{
        width:320px;
    }
    .continue{
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    
    .colright{
        margin-top:180px;
    }
}