.inputPos{
    width:425px;
    margin:0;
    margin-bottom: 16px;
  }

.textAreaSize{
    height:8em;
    width:425px;
}

.rowPos{
    margin-top:60px;
    width:100%;
    min-height: 270px;
    max-width: 1100px;
}

.bottomRowPos{
    margin-top:80px;
    /*width:100%;*/

}

.checkPos{
    margin-top:40px;
    width:425px;
}

.checkSeparatedPos{
    margin-top:30px;
    margin-bottom:1.5rem;
    width:425px;
}

.durationPos{
    margin-top:20px;
}

.wTitle{
    margin-bottom: 30px !important;
}

.courseSlide{
  color: #ededed;
}

.newUserCheckPos{
margin-bottom:2rem;
width:425px;
}

.invalid{
    border-color: red;
    background-color: #ffc0c0;
}

.newTest{
    max-width: 95% ;
}

.form-group {
    width: 380px!important;
}

.text-muted {
    color: #b9bcbe !important;
}

@media only screen and (max-width: 500px) {
    .textAreaSize{
        width:320px;
    }
    .continue{
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    
    .colright{
        margin-top:180px;
    }
}

@media only screen and (max-width: 600px) {
    .inputPos{
        width:283px;
      }
      .textAreaSize{
        width:283px;
    }
    .newUserCheckPos{
        width:283px;
    }

    .checkPos{
        width:283px;
    }
        
    .checkSeparatedPos{
        width:283px;
    }
    
    .form-group {
        width: 238px!important;
    }
}