<form [formGroup]="newTestForm">
  <div class="container">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div fxLayout="row" class="title">
        Nowy quiz
      </div>
      <div fxLayout="row">
          <div fxLayout="column">
              <div fxLayout="row"></div>
              <div fxLayout="row"></div>
              <div fxLayout="row"></div>
              <div fxLayout="row"></div>
          </div>
          <div fxLayout="column">
              <div fxLayout="row"></div>
              <div fxLayout="row"></div>
              <div fxLayout="row"></div>

          </div>
        </div>
        <div fxLayout="row">
          </div>
    </div>
  </div>
</form>