.register{
    margin-bottom: 10px;
}

.registerText{
    color:#ededed;
    text-align: center;
}

.newAccount{
    margin-top:10px; 
}

.colleft{
    margin-right:20px;
} 

.colright{
    margin-left:20px;
} 

.testDetails{
    text-align: center;  
    FONT-FAMILY:Didact Gothic; 
    color:#ededed;
    font-size: 20px; 
    font-weight: bold; 
    margin-top:60px;
    text-align:left;
}