.register{
    margin-bottom: 10px;
}

.registerText{
    color:#ededed;
    text-align: center;
}

.newAccount{
    margin-top:10px; 
}

.colleft{
    margin-right:20px;
} 

.colright{
    margin-left:20px;
} 
