<form [formGroup]="registerForm">
<div class="container" >
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div fxLayout="row">
        <div class="wTitle register">
         Rejestracja
        </div>
      </div>
      <br>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center" >
    <div fxLayout="row"  >
      <div fxLayout="column"   class="colleft" >
      <div fxLayout="row"   class="inputPos">
    <div class="input-group mb-3">
      <div class="input-group-prepend" >
        <span class="input-group-text inputStyle"  ><i class="material-icons">
          person
          </i></span>
      </div>
      <input type="text" class="form-control" placeholder="Login" 
      aria-label="Username" aria-describedby="basic-addon1" formControlName="username">
    </div>  
    </div>
    <div fxLayout="row" class="inputPos">
      <div class="input-group mb-3">
        <div class="input-group-prepend" >
          <span class="input-group-text inputStyle"  ><i class="material-icons">
            vpn_key
            </i></span>
        </div>
        <input type="password" class="form-control" placeholder="Hasło" 
        aria-label="Hasło" aria-describedby="basic-addon1" formControlName="password">
      </div>  
      </div>
      <div fxLayout="row" class="inputPos">
        <div class="input-group mb-3">
          <div class="input-group-prepend" >
            <span class="input-group-text inputStyle"  ><i class="material-icons">
              vpn_key
              </i></span>
          </div>
          <input type="password" class="form-control" placeholder="Powtórz hasło" 
          aria-label="Powtórz hasło" aria-describedby="basic-addon1" formControlName="passwordRepeat">
        </div>  
        </div>

   

      
      </div>
      <div fxLayout="column" class="colright">
       

        <div fxLayout="row" class="inputPos">
          <div class="input-group mb-3">
            <div class="input-group-prepend" >
              <span class="input-group-text inputStyle"  ><i class="material-icons">
                mail
                </i></span>
            </div>
            <input type="text" class="form-control" placeholder="E-mail" 
            aria-label="E-mail" aria-describedby="basic-addon1" formControlName="email">
          </div>  
          </div>

      <div fxLayout="row" class="inputPos">
        <div class="input-group mb-3">
          <div class="input-group-prepend" >
            <span class="input-group-text inputStyle"  ><i class="material-icons">
              person
              </i></span>
          </div>
          <input type="text" class="form-control" placeholder="Imię" 
          aria-label="Imię" aria-describedby="basic-addon1" formControlName="name">
        </div>  
        </div>

        <div fxLayout="row" class="inputPos">
          <div class="input-group mb-3">
            <div class="input-group-prepend" >
              <span class="input-group-text inputStyle"  ><i class="material-icons">
                person
                </i></span>
            </div>
            <input type="text" class="form-control" placeholder="Nazwisko" 
            aria-label="Nazwisko" aria-describedby="basic-addon1" formControlName="surname">
          </div>  
          </div>
          </div>
    </div>
       </div> 
  
      <div fxLayout="column" fxLayoutAlign="space-around center">
    
      <div fxLAyout="row">
        <button mat-raised-button class="continue"
        (click)="onRegister()">Utwórz nowe konto</button>
      </div>
      <br>
      <br>
      </div>
   
      
      <br>
  </div>

</form>