/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body{
  background-color: #2a2a2a;
  min-height: 100%;
}

html{
  height:100%;
  scroll-behavior: smooth;
}

.wTitle{
  text-align: center;  
  FONT-FAMILY:Didact Gothic; 
  color: #0281D6;
  text-shadow: 2px 2px #505050;
  font-size: 70px; 
  font-weight: bold; 
  margin-top:15px;
}

.continue{ 
  text-align: center;
  box-shadow: 0px 0px 18px 4px  rgba(1, 1, 1, 0.54);  
  height: 40px; 
  font-size: 20px; 
  display: block !important;
  margin:0 auto !important;
  margin-top:30px !important;
  background-color: #707070
}

.inputStyle{
  border:0;
}

.inputPos{
  margin: auto;
  width:340px;
}

.input-group-text{
  background-color: #707070;
}

.form-control{
  background-color:#ededed;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  
}

.input-group-prepend{
  height: 38px;
  z-index: 0;
  margin-right: -3px;
}

.form-group{
  width:205px!important;
}

.form-check-input{
  color:#ededed;
  height: 20px;
  width: 20px;
  margin-right:10px;
}

.form-check-label{
  color:#ededed;
  }

  .mat-checkbox-inner-container, .mat-radio-outer-circle{
    background-color: #ededed ;
  }

  @media only screen and (max-width: 500px) {
    .wTitle{
        font-size: 60px;
    }
}
@media only screen and (max-width: 400px) {
  .wTitle{
      font-size: 40px;
  }
}
@media only screen and (max-width: 380px) {
  
  .inputPos{
    width:280px;
  }
}
