.mat-checkbox{
  float:left;
  margin-top: 15px;
}

.mat-radio-button{
  float:left;
  margin-top: 15px;
}

p{
  padding-left: 40px;
}

.message.is-primary .message-body{
  padding-top: 5px;
  padding-bottom: 5px;
}

.message-body:hover{
  background-color:#707070;}

.message-body{
  color:#ededed!important;
     border-color: #0281D6!important;
     border-right: 2px solid #0281D6;
    border-top: 2px solid #0281D6;
    border-bottom: 2px solid #0281D6;
    border-left: 6px solid #0281D6;
}