<div class="container">
    <div fxLayout="column">
      <div  fxLayoutAlign="space-around center">
        <div class="wTitle">
          Panel główny
        </div>
      </div>
      <div >

            <button mat-raised-button class="continue bigButton" (click)="onNew()" >
                <i class="material-icons" style="font-size: 40px">
                    add
                    </i>
              Dodaj nowy quiz</button>

        </div>

      <div  fxLayoutAlign="space-around center">

        <div class="welcomeTest">
      Poniżej znajdują się utworzone przez Ciebie quizy
        </div>
      </div>
      <div fxLayout="row" fxFlex="80%">

          <div class="treeContainer">
                <div class="collapse multi-collapse show" id="questionList">

                  <div *ngFor="let test of tests; let i = index">
                    <button class="quizButton questionButton" (click)="onView(test.ID)">
                      {{i+1}} &nbsp;&nbsp;&nbsp;{{test.NAME}}</button>
                    <div></div>
                  </div>
                </div>

              </div>


      </div>
    </div>
  </div>
