<!--<a  
routerLink="/quiz/demo/java/begin" 
>
  java
</a>
<a  
routerLink="/quiz/demo/web/begin" 
>
  web
</a>-->
<div class="container">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div class="wTitle">
          Testy demo
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div class="welcomeTest">
          Poniżej znajdują się wersje demonstracyjne quizów 
        </div>
      </div>
      <div class="row">
      <div class="col-md-5">
          <div class="card mb-4 box-shadow " (click)="onTestWeb()" >
            <div class="card-body cardStyle">
              <p class="card-text cardText">Technologie Sieci WEB</p>
              <div class="d-flex justify-content-between align-items-center">
                  <button mat-raised-button class=" buttonClass continue">Rozwiąż test demo
                      <i class="material-icons">
                          arrow_forward
                          </i>
                  </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="card mb-4 box-shadow" (click)="onTestJava()">
              <div class="card-body cardStyle">
                <p class="card-text cardText">Programowanie w języku Java</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button mat-raised-button class="buttonClass continue">Rozwiąż test demo
                        <i class="material-icons">
                            arrow_forward
                            </i>
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>

<!--

      <div fxLayout="row" fxFlex="80%">
  
        <div class="treeContainer">
          <div class="collapse multi-collapse show" id="questionList">
  
            <div *ngFor="let test of tests; let i = index">
              <button class="quizButton questionButton" (click)="onTest(i)">
                {{i+1}} &nbsp;&nbsp;&nbsp;{{test}}</button>
              <div></div>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>