<div class="appHeader">
    <div  style="height:100%; width:auto;">
     <div class="container-fluid">
      <div class="row">
      <div class="col-3">
          <img src="assets/img/logo.gif" alt="logo Politechniki Rzeszowskiej" height="130px">
      </div>
      <div class="col-6 materials">
        <div class="writing" ><h1>
          MATERIAŁY DYDAKTYCZNE
        </h1></div>
        <div class="navbarList">
              <ul>
                <li>  <a class="nav-item nav-link active" href="#">Home
                  <span class="sr-only">(current)</span></a> </li>
                  <li><a class="nav-item nav-link active" href="#">Features</a> </li>
                  <li><a class="nav-item nav-link active" href="#">Pricing</a> </li>
                  <li><a class="nav-item nav-link active" href="#">Disabled</a> </li>
                </ul>
              </div>

      </div>
      <div class="col-3 d-flex align-items-start"  style="height:100%;">
        <div class="row " style="margin-left: auto;">

          <button mat-raised-button float-right><i class="material-icons">person</i>Login</button>
         <button mat-raised-button float-right ><i class="material-icons">person_add</i> Register</button>
                </div>
      </div>
    </div></div>
  </div>
</div>
<div class="underlineBar"></div>
  