<nav class="navbar navbar-expand-md appHeader">
  <img src="assets/img/logo5-600.png" alt="logo" class="logoHeader">

  <div *ngIf="logged" class="name">{{name}}</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appMenu" aria-controls="appMenu"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
  </button>


  <div class="collapse navbar-collapse" id="appMenu" (click)="cancelCollapse($event)">

    <ul class="navbar-nav mr-auto appNavbar">
      <li class="nav-item appNavItem" 
      routerLink="/main" 
      routerLinkActive="appNavItemActive" 
      *ngIf="!logged"
     >
        Strona Główna
      </li>
      <li class="nav-item appNavItem" 
      routerLink="/quiz/demo" 
      routerLinkActive="appNavItemActive" 
      *ngIf="!logged">
        Test demo
      </li>
      
      <li class="nav-item appNavItem" 
      [routerLink]="mainPath" 
      routerLinkActive="appNavItemActive" 
       *ngIf="logged">
        Twoje testy
      </li>
      <li class="nav-item appNavItem" 
      (click)="wyloguj()"
       *ngIf="logged">
        Wyloguj
      </li>
      <li class="nav-item appNavItem" 
      routerLink="/login" 
      routerLinkActive="appNavItemActive" 
      *ngIf="!logged">
        Logowanie
      </li>
      <li class="nav-item appNavItem" 
      routerLink="/register" 
      routerLinkActive="appNavItemActive" 
      *ngIf="!logged">
        Rejestracja
      </li>
      
      <li class="nav-item appNavItem" 
      routerLink="/contact" 
      routerLinkActive="appNavItemActive" 
     >
        Kontakt
      </li>
    </ul>
  </div>



  <!--<div class="appHeader">

  <div style="height:100%; width:auto;">
    <div class="container-fluid">
      <div>
        <div>
          <img src="assets/img/logo3-100px.png" alt="logo" class="logoHeader">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav navbar-right ">
            <li class=""><a href="/" title='' class='first'>Home</a></li>
            <li class=" "><a href="/page/kontakt"  title='' class='last' >Kontakt</a></li>
            <li class=""><a href="/javapro/login">Logowanie</a>
            </li>
          </ul>
        </div>


        <!--
        <div class="col-6 materials">

        </div>
        <div class="col-3 d-flex align-items-start"  style="height:100%;">
          <div class="row " style="margin-left: auto;">

            <button mat-raised-button float-right ><i class="material-icons">person</i>Login</button>
           <button mat-raised-button float-right ><i class="material-icons">person_add</i> Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>-->
</nav>
<div class="underlineBar"></div>