<div class="container">
  <div fxLayout="column">
    
      <div class="wTitle"> 
        WITAJ!
      </div>
  
 
      <div class="welcomeTest">
      Przed Tobą test o nazwie: {{subject.name}}.<br>
      Jest to test {{subject.multipleChoice? "wielokrotnego":"jednokrotnego"}} wyboru. <br>     
      {{subject.limitedTime? "Czas na rozwiązanie quizu wynosi: " + subject.time + " min." :
      "Quiz nie posiada limitu czasu." }} <br>
      {{subject.description!=undefined? "Opis: " + subject.description : " "}} <br>
      Zapraszamy!
    </div>
 <div class="posit">
      
        <button mat-raised-button class="continue bigButton"
          (click)="onSubmit()">PRZEJDŹ DO TESTU</button>
   </div>
  </div>
</div>