<div class="container">
  <section class="section">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="30%">
      <div class="col-3" style="padding: 0%">
        <article class="message is-primary" style="background-color:#649494">
          <div class="message-body">
              {{question.category}}
          </div>
        </article>
      </div>
      <article class="message is-primary" style="background-color:#649494">
        <div class="message-body"> {{question.text}}
            <div *ngIf="containsPhoto; else noPhoto">
              <div style="text-align: center; margin-top:20px;" >
                <img src={{question.image}} style="max-height: 150pt; border: 3px solid black;"> 
              </div>

            </div>
            <ng-template #noPhoto>
           <div> </div>  
            </ng-template>
            <pre *ngIf="containsCode; else noCode" 
            style="background-color: rgb(226,226,226); margin-top:20px;">
            <code highlight [code]="question.code"></code></pre>
            <ng-template #noCode>
                <div> </div>  
                 </ng-template>
        </div>
        
      </article>
      <app-answer *ngFor="let answer of question.answers" [setAnswer]="answer" (onChange)="onChange($event)"></app-answer>
    </div>
  <!--  <div fxLayout="column">
      <div class="row justify-content-between" style="margin-top:20px">

        <button mat-raised-button>
          <i class="material-icons">
            keyboard_arrow_left
          </i>Basic</button>

        <button mat-raised-button class="btn pull-right">Basic
          <i class="material-icons">
            keyboard_arrow_right
          </i></button>
      </div>
    </div>
-->
  </section>
</div>
