<div class="footerPos">
   <div class="underlineBar">
   </div>


   <div class="footerStyle">
         <a target="_blank" rel="noopener noreferrer"
          href="https://w.prz.edu.pl/">
      <img src="assets/img/prz_log.png" alt="logo">
         </a>
      &nbsp;
      &nbsp;
      <a target="_blank" rel="noopener noreferrer" 
      href="https://weii.prz.edu.pl/">
         <img src="assets/img/weii_log.png" alt="logo"></a>
      <br />
      <br />
      Copyright &copy; 2018 - {{year}}
      <a target="_blank" rel="noopener noreferrer" 
      href="http://jprokop.prz.edu.pl">Jan Prokop </a>

   </div>
</div>