.inputPos{
    width:250px;
    margin:0;
    margin-bottom: 16px;
  }

.checkPos{
  margin-right: 10px;
    margin-top: 10px;
}

.rowPos{
    margin-top:60px;
    width:100%;
    min-height: 270px;
}

.textAreaSize{
    height:5em;
    width:425px;
    margin-bottom:32px;
}

.smallTextAreaSize{
    height:4em;
    width:400px;
    margin-bottom:32px;
}

.inputSize{
    width:425px;
}

.submitBtnPos{
    margin-top: 15px;
    margin-bottom: 15px;
}

.invalid{
    border-color: red;
    background-color: #ffc0c0;
}

.checkAnwer{
    color:#ededed;
}

.deleteBtn{
    margin-top: 25px!important;
}

.noBtn{
    background-color: #e6e6e6;
}

.modal-header{
     border-bottom: none; 
}


@media only screen and (max-width: 960px) {
    .questionList{
        margin-top:170px;
    }
}

@media only screen and (max-width: 500px) {
    .textAreaSize{
        width:320px;
    }

    .inputSize{
        width:320px;
    }

    .smallTextAreaSize{
        
        width:295px;
        
    }
    
}