<form [formGroup]="newQuestionForm">
  <div class="container">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100%">
      <div fxLayout="row" class="wTitle">
        {{quizName}}
      </div>
      <div fxLayout="row" class="rowPos" fxFlex="100%">
        <div fxLayout="column" fxFlex="60%" fxLayoutAlign="start center">
          <div fxLayout="row" class="inputPos  inputSize">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text inputStyle">
                  <i class="material-icons">
                    keyboard_arrow_right
                  </i></span>
              </div>
              <input type="text" class="form-control" placeholder="Kategoria" aria-label="category" aria-describedby="basic-addon1"
                formControlName="category">
            </div>
          </div>
          <div fxLayout="row">
            <textarea class="form-control textAreaSize" rows="2" placeholder="Treść pytania" formControlName="question"></textarea>
          </div>
          <div fxLayout="row">
              <textarea class="form-control textAreaSize" rows="2" placeholder="Kod" formControlName="code"></textarea>
            </div>
            <div fxLayout="row" class="inputPos inputSize">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text inputStyle">
                      <i class="material-icons">
                        keyboard_arrow_right
                      </i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Zdjęcie" aria-describedby="basic-addon1"
                    formControlName="photo">
                </div>
              </div>
          <div fxLayout="row" *ngFor="let answer of answers, let i=index">
              
            <mat-checkbox color="primary" class="checkPos" formControlName="checkAnswer{{i}}" >
            </mat-checkbox>
            <div fxLayout="row">
              <textarea class="form-control smallTextAreaSize" rows="2" placeholder="Treść odpowiedzi" formControlName="answer{{i}}"></textarea>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="40%">
          <app-question-list #questionList></app-question-list>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="33%" fxLayoutAlign="start center">
          <div fxLayout="row" class="inputPos">
            <button mat-raised-button class="continue" (click)="onBack()">Wróć</button>
          </div>
        </div>
        <div fxLayout="column" fxFlex="33%" fxLayoutAlign="start center">
          <div fxLayout="row" class="inputPos">
            <button mat-raised-button class="continue" (click)="onClear()" >Wyczyść pytanie</button>
          </div>
        </div>
        <div fxLayout="column" fxFlex="33%" fxLayoutAlign="start center">
          <div fxLayout="row" class="inputPos">
            <button mat-raised-button class="continue" (click)="onAdd()">Dodaj pytanie</button>
          </div>
        </div>

      </div>
      <div fxLayout="row">
        <div fxLayout="column" fxFlex="100%" fxLayoutAlign="start center">
          <div fxLayout="row" class="inputPos">
            <button mat-raised-button class="continue">Zatwierdź quiz</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>