    <div class="container">
      <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="100%">
        <div  class="wTitle">
          Podsumowanie
        </div>
        <div  class="testDetails" >
            <span class="detailsNames">Nazwa: </span>{{subject.name}}<br>
            <span class="detailsNames">Kierunek studiów: </span> {{subject.course}}<br>
            <span class="detailsNames">Ilość pytań na teście: </span>{{subject.nOQuestions}}<br>
            <span class="detailsNames">Wybór: </span>{{subject.multipleChoice? "wielokrotny"  : "jednokrotny"  }}<br>
            <span class="detailsNames"> Limit czasu: </span>{{subject.limitedTime? subject.time  : "brak " }}<br>
            <span class="detailsNames"> Losowanie pytań: </span>{{subject.randomize? "tak" : "nie" }}<br>
            <span class="detailsNames"> Pytania na osobnych stronach: </span>{{subject.separatePage? "tak" : "nie" }}<br>
           
         <div *ngIf ="subject.separatePage==1">

           <span  class="detailsNames"> 
            Możliwość powrotu do poprzedniego pytania: </span>
            {{subject.canBack==1? "tak" : "nie" }}<br>
          </div> 
            <span class="detailsNames"> Opis: </span>{{subject.description!=""? subject.description  : "brak " }}
          
      </div>
        <div  class="treePos" >
          
          <div fxLayout="column"  fxFlex="100%">
            <app-question-list #questionList></app-question-list>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="50%" fxLayoutAlign="start center">
            <div fxLayout="row" class="inputPos">
              <button mat-raised-button class="continue" (click)="onEdit()">Edytuj</button>
            </div>
          </div>
          <div fxLayout="column" fxFlex="50%" fxLayoutAlign="start center">
            <div fxLayout="row" class="inputPos">
              <button mat-raised-button class="continue newcontinue " (click)="onMain()" >Widok główny</button>
            </div>
          </div>
  
        </div>
       
      </div>
    </div>
  