.photoStyle{
    max-height: 222pt;
    border: 3px solid black;
}

.photoPosition{
    text-align: center; margin-top:20px;
}

.codeStyle{
    background-color: rgb(226,226,226);
     margin-top:20px;
}

.questionStyle{
    background-color:#505050;
   
}

.message-body{
     color:#ededed!important;
     border-color: #0281D6!important;
     border-right: 2px solid #0281D6;
    border-top: 2px solid #0281D6;
    border-bottom: 2px solid #0281D6;
    border-left: 6px solid #0281D6;
}

.question{
    max-width: 95% ;
}

.category{
    min-width: fit-content;
}

@media only screen and (max-width: 960px) {
    .question{
        max-width: 100% ;
        padding-left:0;
        padding-right: 0;
    }
    .section{
        padding-left:0;
        padding-right: 0;

    }
}