<div fxLayout="column">
  <div class="wTitle">
    Kontakt
  </div>

  <div fxLayout="row">
    <div fxFlex="50%" class="welcomeTest">
      <br>

      dr hab. inż. Jan Prokop, prof. PRz <br>
      Budynek B, pok. 101 <br>
      Tel. +48 17 865 13 84 <br>
      Fax. +48 17 854 20 88 <br>
      E-mail: jprokop@prz.edu.pl <br>
      <br> <span class="detailsNames">
        Dane adresowe
      </span>
      <br>
      Politechnika Rzeszowska<br>
      im. Ignacego Łukasiewicza<br>

      Wydział Elektrotechniki i Informatyki<br>

      ul. Wincentego Pola 2<br>
      35-021 Rzeszów<br>
    </div>
    <div fxFlex="50%">

      <div #gmap class="map"></div>
    </div>
  </div>
</div>