<div fxLayout="column">
    <div class="wTitle">
        {{subjectObj.name}}
        <div class="sTitle">
          z przedmiotu {{subjectObj.subject}}</div>
      </div>
  <div fxLayout="row">
    <div fxLayout="column" class="questions">
      <div *ngIf="subject.limitedTime!='0'" class="timer">{{timeLeft}}</div>
      <div *ngIf="subjectObj.separatePage==1">
      <div  *ngFor="let question of questions; let i = index;" class="question" 
              [ngStyle]="{'left': (((questionIndex < i) )? '120vw': (((questionIndex > i) )? '-120vw': '0')),
              'position': ((((questionIndex == (i-1))||(questionIndex == (i+1))) )? 'absolute': ''),
              'top': ((((questionIndex == (i+1))) )? '0': ''),
               'max-height': ((((questionIndex == (i-1))||(questionIndex == (i+1))) )? '0': ''),
               'overflow': ((((questionIndex == (i-1))||(questionIndex == (i+1))) )? 'inherit': '')}">
        <app-question  [ngStyle]="{'display': (((subjectObj.separatePage==0)||((questionIndex == (i-1))||(questionIndex == i)||(questionIndex == (i+1))) )? '': 'none')}"
        [setQuestion]="question"
          (questionStatus)="onChange($event)" [number]='(i+1)+"/"+questions.length'></app-question>
      </div>
      </div>
      <div *ngIf="subjectObj.separatePage==0">
        <div data-aos="zoom-in-up" *ngFor="let question of questions; let i = index;" class="question" 
                >
          <app-question  [ngStyle]="{'display': (((subjectObj.separatePage==0)||((questionIndex == (i-1))||(questionIndex == i)||(questionIndex == (i+1))) )? '': 'none')}"
          [setQuestion]="question"
            (questionStatus)="onChange($event)" [number]='(i+1)+"/"+questions.length'></app-question>
        </div>
        </div>
    </div>
  </div>
  
  <div *ngIf="subjectObj.separatePage==1">
      <div class = buttonPoses>
      <div class="prevBtn">
        <button mat-raised-button class="continue" (click)="prevQuestion()" *ngIf="(questionIndex>0)&&(subjectObj.canBack==1)">
          <i class="material-icons">
            keyboard_arrow_left
          </i>
          Wstecz</button>
      </div>
      <div class="nextBtn">
        <button mat-raised-button class="continue" (click)="nextQuestion()" *ngIf="questionIndex<questions.length-1">Dalej
          <i class="material-icons">
            keyboard_arrow_right
          </i>
        </button>
      </div>
    </div></div>
    <div>
      <button mat-raised-button class="continue bigButton" (click)="onSubmit()">ZAKOŃCZ</button>
  
    </div>
  </div>
