.wTitle{
    font-size: 34px;
}

.btnPosition{
    margin-top:20px;
    margin-bottom:20px;
}
.sTitle{
    font-size:34px;
}

.btnStyle{
    margin-left: auto;
    margin-right:10px;
    background-color:rgb(137, 231, 59);
}

.bigButton{
    height:56px;
    font-size: 24px;
    position: relative;
    bottom: 20px;
}

.descTest{
    text-align: center;  
    FONT-FAMILY:Didact Gothic; 
    color:#ededed;
    font-size: 20px; 
    font-weight: bold; 
    margin-top:15px;
}

.timer{
    background-color: #212529;
  color:#ededed;
  position: fixed;
  top:115px;
  right:2%;
  border-radius: 10px;
  border:1px #0281D6 solid;
  padding:5px;
  z-index: 999;
}

.bottomRowPos{
    margin:0 auto;
    width: fit-content;
}

.prevBtn, .nextBtn{
    width:50%;
    height:30px;
    float:left;
  

}

.prevBtn button{
    margin: 0!important;
    margin-left: 20%!important;

}

.nextBtn button{

    margin: 0!important;
      margin-right: 20%!important;
      margin-left: auto!important;
}

.prevBtn, .nextBtn{
    width:40%;
    height:30px;
    display:inline-block;
    position:relative;
    top:-15px;
}

.prevBtn button{
    left: 10vw;
    position: relative;

}

.nextBtn{
    left: 70vw;
    position: relative;
}

.questions{
    position: relative;
}

.nextBtn button{

    margin: 0!important;
      margin-right: 20%!important;
      margin-left: auto!important;
}

.question{
    transition-duration: 500ms;
    position: relative;
    overflow: hidden;
   top:0;

   
    width: 100%;
}

.buttonPoses{
    position:absolute;
    text-align: center;
}


@media only screen and (max-width: 660px) {
    .nextBtn{
        left: 30vw;
    }
}