.btnPosition{
    margin-top:20px;
    margin-bottom:20px;
}

.btnStyle{
    margin-left: auto;
    margin-right:10px;
    background-color:rgb(137, 231, 59);
}

.bigButton{
    height:56px;
    font-size: 24px;
}

.timer{
    background-color: #212529;
  color:#ededed;
  position: fixed;
  top:115px;
  right:2%;
  border-radius: 10px;
  border:1px #0281D6 solid;
  padding:5px;
}

.bottomRowPos{
    margin:0 auto;
    width: fit-content;
}

.prevBtn, .nextBtn{
    width:50%;
    height:30px;
    float:left;
  

}

.prevBtn button{
    margin: 0!important;
    margin-left: 20%!important;

}

.nextBtn button{

    margin: 0!important;
      margin-right: 20%!important;
      margin-left: auto!important;
}