<div fxLayout="column">
    <div class="wTitle">
        {{subjectObj.name}}
        <div class="sTitle">
          z przedmiotu {{subjectObj.subject}}</div>
      </div>
      <div class="descTest">
        <!-- zmiana! -->

        ZASADY: <br>
        Jest to test {{subjectObj.multipleChoice? "wielokrotnego":"jednokrotnego"}} wyboru. <br>
        {{subjectObj.limitedTime? "Czas na rozwiązanie quizu wynosi: " + subjectObj.time + " min." :
        "Quiz nie posiada limitu czasu." }} <br>
        Należy zaznaczać tylko poprawne odpowiedzi. <br>
        Test zawiera {{subjectObj.nOQuestions}} pytań, każde za 1 punkt. <br>
        Ilość punktów możliwa do zdobycia to {{subjectObj.nOQuestions}}.<br>
        <div fxLayout="row" *ngIf="subjectObj.nOQuestions>9" class="pointStyle">
          Punktacja: <br>
         
                {{markNumber[0]}} - {{markNumber[1]}}&nbsp;2.0;&nbsp;
                {{markNumber[2]}} - {{markNumber[3]}}&nbsp;3.0;&nbsp;
                {{markNumber[4]}} - {{markNumber[5]}}&nbsp;3.5;&nbsp; 
             
                {{markNumber[6]}} - {{markNumber[7]}}&nbsp;4.0;&nbsp; 
                {{markNumber[8]}} - {{markNumber[9]}}&nbsp;4.5;&nbsp; 
                {{markNumber[10]}} - {{markNumber[11]}}&nbsp;5.0
        
          
            
           
         
      </div>
    </div>
  <div fxLayout="row">
    <div fxLayout="column" class="questions">
      <div *ngIf="subject.limitedTime" class="timer">{{timeLeft}}</div>
      <div *ngIf="subjectObj.separatePage">
      <div  *ngFor="let question of questions; let i = index;" class="question" 
              [ngStyle]="{'left': (((questionIndex < i) )? '120vw': (((questionIndex > i) )? '-120vw': '0')),
              'position': ((((questionIndex == (i-1))||(questionIndex == (i+1))) )? 'absolute': ''),
              'top': ((((questionIndex == (i+1))) )? '0': ''),
               'max-height': ((((questionIndex == (i-1))||(questionIndex == (i+1))) )? '0': ''),
               'overflow': ((((questionIndex == (i-1))||(questionIndex == (i+1))) )? 'inherit': '')}">
        <app-question  [ngStyle]="{'display': (((subjectObj.separatePage==0)||((questionIndex == (i-1))||(questionIndex == i)||(questionIndex == (i+1))) )? '': 'none')}"
        [setQuestion]="question"
          (questionStatus)="onChange($event)" [number]='(i+1)+"/"+questions.length'></app-question>
      </div>
      </div>
      <div *ngIf="!subjectObj.separatePage">
        <div data-aos="zoom-in-up" *ngFor="let question of questions; let i = index;" class="question" 
                >
          <app-question  [ngStyle]="{'display': (((subjectObj.separatePage==0)||((questionIndex == (i-1))||(questionIndex == i)||(questionIndex == (i+1))) )? '': 'none')}"
          [setQuestion]="question"
            (questionStatus)="onChange($event)" [number]='(i+1)+"/"+questions.length'></app-question>
        </div>
        </div>
    </div>
  </div>
  
  <div *ngIf="subjectObj.separatePage">
      <div class = buttonPoses>
      <div class="prevBtn">
        <button mat-raised-button class="continue" (click)="prevQuestion()" *ngIf="(questionIndex>0)&&(subjectObj.canBack==1)">
          <i class="material-icons">
            keyboard_arrow_left
          </i>
          Wstecz</button>
      </div>
      <div class="nextBtn">
        <button mat-raised-button class="continue" (click)="nextQuestion()" *ngIf="questionIndex<questions.length-1">Dalej
          <i class="material-icons">
            keyboard_arrow_right
          </i>
        </button>
      </div>
    </div></div>
    <div>
      <button mat-raised-button class="continue bigButton" (click)="onSubmit()">ZAKOŃCZ</button>
  
    </div>
  </div>
