<div>
  <div *ngIf="size<400" parallax [config]="{initialValue: 30, ratio: .01}" class="parallaxStyle"></div>
  <div *ngIf="(size<550)&&(size>=400)" parallax [config]="{initialValue: 100, ratio: .01}" class="parallaxStyle"></div>
  <div *ngIf="(size<=700)&&(size>=550)" parallax [config]="{initialValue: 200, ratio: .01}" class="parallaxStyle"></div>
  <div *ngIf="(size>700)&&(size<850)" parallax [config]="{initialValue: 300, ratio: .7}" class="parallaxStyle"></div>
  <div *ngIf="(size>=850)&&(size<=1100)" parallax [config]="{initialValue: 400, ratio: .7}" class="parallaxStyle"></div>
  <div *ngIf="size>1100" parallax [config]="{initialValue: 490, ratio: .7}" class=" parallaxStyle"></div>
  <div class="container about">
    <div class="wTitle">
      O WITRYNIE
    </div>
    <div class="welcomeTest">
      Witryna QuizPro zawiera quizy demonstracyjne z przedmiotów <br>
      Programowanie w języku Java oraz Technologie Sieci WEB <br>
      prowadzonych na Wydziale Elektrotechniki i Informatyki Politechniki Rzeszowskiej.<br>
      Wykładowcą obu przedmiotów jest <a target="_blank" rel="noopener noreferrer" href="http://jprokop.prz.edu.pl/">Dr
        hab. inż. Jan PROKOP, prof. PRz.</a> <br>
      Zawartość serwisu przeznaczona jest głównie dla studentów <br> kierunku Informatyka WEiI PRz.
    </div>
  </div>
  <div class="container">

  </div>
  <!--
    <div>
      <button mat-raised-button class="continue bigButton" 
      (click)="onDemo()">Rozwiąż test demo</button>
    </div>
    <div class="welcomeTest">
      Aby uzyskać dostęp do pełnej wersji testów zaloguj się lub zarejestruj.<br>
    </div>
    <div>
      <div fxLayout="row" class="inputPos ">
        <button mat-raised-button class="continue bigButton loginBtn" 
        (click)="onLog()">Zaloguj</button>
        <button mat-raised-button class="continue bigButton registerBtn" 
        (click)="onReg()"  >Zarejestruj</button>
      </div>
    </div>
  -->
</div>