<div class="container">
  <div >
    <div class="wTitle">
      O WITRYNIE
    </div>
    <div class="welcomeTest">
      Witryna QuizPro zawiera quizy demonstracyjne z przedmiotów <br> 
      Programowanie w języku Java oraz Technologie Sieci WEB <br>
      prowadzonych na Wydziale Elektrotechniki i Informatyki Politechniki Rzeszowskiej.<br>
    </div>
    <!--
    <div>
      <button mat-raised-button class="continue bigButton" 
      (click)="onDemo()">Rozwiąż test demo</button>
    </div>
    <div class="welcomeTest">
      Aby uzyskać dostęp do pełnej wersji testów zaloguj się lub zarejestruj.<br>
    </div>
    <div>
      <div fxLayout="row" class="inputPos ">
        <button mat-raised-button class="continue bigButton loginBtn" 
        (click)="onLog()">Zaloguj</button>
        <button mat-raised-button class="continue bigButton registerBtn" 
        (click)="onReg()"  >Zarejestruj</button>
      </div>
    </div>
  -->
  </div>
</div>