.welcome{
    text-align: center;  
    FONT-FAMILY:Didact Gothic; 
    color: #0281D6;
    text-shadow: 2px 2px #505050;
    font-size: 70px; 
    font-weight: bold; 
    margin-top:15px;
}

.welcomeTest{
    text-align: center;  
    FONT-FAMILY:Didact Gothic; 
    color:#ededed;
    font-size: 30px; 
    font-weight: bold; 
    margin-top:15px;
}

.bigButton{
    height:56px;
    font-size: 24px;
}

.posit{
    margin-bottom:200px;
}

.bottomRowPos{
    margin-top:30px;
    /*width:100%;*/
 
}

.inputPos{
    margin-bottom: 16px;
    width:400px;
  }

.loginBtn{
    margin-right:15px !important
}

.registerBtn{
    margin-left:15px !important
}

.about{
    background-image: url('src/assets/img/trapes.png');
    background-size: 100% auto;
    position: relative;
    top:-200px;
}

.parallaxStyle{
    background-image: url('src/assets/img/artystycznemultidev.png');
    background-size: 100%;
    height: 400px;

}

  @media only screen and (max-width: 500px) {
    .inputPos{
        width:263px;
      }
      .loginBtn{
        margin-right:5px !important
    }
    
    .registerBtn{
        margin-left:0px !important
    }
  }
  @media only screen and (max-width: 800px) {
    .welcomeTest{
        font-size: 24px; 
    }
  }