<div class="container">
  <div fxLayout="column">
    <div fxLayout="row">
      <div class="wTitle">
        PODSUMOWANIE
      </div>
    </div>
    <div fxLayout="row" *ngIf="isPassed; else notPassed">
      <div class="testScore">
        Uzyskano:
        <br>
        <span class="testPass">{{trueAns}}</span>
        /{{total}}
        pkt
        <br>
        {{truePercent}} %
        <p>
          <span class="testPass">
            ZALICZONO</span>
        </p>
      </div>
    </div>
    <ng-template #notPassed>
      <div fxLayout="row">
        <div class="testScore">
          Uzyskano:
          <br>
          <span class="testFail">{{trueAns}}</span>
          /{{total}}
          pkt
          <br>
          {{truePercent}} %
          <p>
            <span class="testFail">
              NIE ZALICZONO</span>
          </p>
        </div>
      </div>
    </ng-template>
    <div fxLayout="row">
      <div>
        <button mat-raised-button class="continue bigButton" (click)="onSubmit()">ROZWIĄŻ TEST PONOWNIE</button>
      </div>
    </div>
  </div>
</div>