.testPass{
    color:#55c155;
}

.testFail{
    color:#f14f4f;
}

.summary{
    text-align: center;  
    font-family:Didact Gothic; 
    color: #0281D6;
    text-shadow: 2px 2px#505050;
    font-size: 70px; 
    font-weight: bold; 
    margin-top:15px;
}

.testScore{
    text-align: center;  
    font-family:Didact Gothic; 
    color:#ededed;
    font-size: 30px; 
    font-weight: bold; 
    margin-top:15px;
}

.continue{
    box-shadow: 0px 0px 18px 4px  rgba(1, 1, 1, 0.54);  
    height: 56px; 
    font-size: 24px; 
    display: block;
    margin: auto; 
    margin-top:30px;
    background-color: #707070
}