.testPass{
    color:#55c155;
}

.testFail{
    color:#f14f4f;
}

.summary{
    text-align: center;  
    font-family:Didact Gothic; 
    color: #0281D6;
    text-shadow: 2px 2px#505050;
    font-size: 70px; 
    font-weight: bold; 
    margin-top:15px;
}

.testScore{
    text-align: center;  
    font-family:Didact Gothic; 
    color:#ededed;
    font-size: 30px; 
    font-weight: bold; 
    margin-top:15px;
}

.bigButton{
    height:56px;
    font-size: 24px;
}

.posit{
    margin-bottom:70px;
}

.bottomRowPos{
    
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 30px;
}

.inputPos{

   
    margin-bottom: 16px;
    width:400px;
  }

.continue{
    display:inline !important;
    margin:0 auto;

}

.showAnswers{
    display: block !important;
}
@media only screen and (max-width: 600px) {
    .wTitle{
        font-size: 50px;
    }
}
@media only screen and (max-width: 450px) {
    .wTitle{
        font-size: 40px;
    }
}