<div class="container">
  <div fxLayout="column">
    <div>
      <div class="wTitle">
        PODSUMOWANIE
      </div>
    </div>
    <div *ngIf="isPassed; else notPassed">
      <div class="testScore">
        Uzyskano:
        <br>
        <span class="testPass">{{trueAns}}</span>
        /{{total}}
        pkt
        <br>
        {{truePercent}} %
        <p>
          <span class="testPass">
            ZALICZONO</span>
        </p>
  
          Ocena: {{mark}}
      
      </div>
    </div>
    <ng-template #notPassed>
      <div>
        <div class="testScore">
          Uzyskano:
          <br>
          <span class="testFail">{{trueAns}}</span>
          /{{total}}
          pkt
          <br>
          {{truePercent}} %
          <p>
            <span class="testFail">
              NIE ZALICZONO</span>
          </p>
        </div>
      </div>
    </ng-template>
    
    <div>
      <button mat-raised-button class="continue showAnswers" data-toggle="collapse" aria-expanded="false" type="button"
        aria-controls="answers" data-target="#answers" (click)="scrollTop()">Zobacz odpowiedzi</button>

      <div class="collapse" id="answers">
        <app-test-result *ngFor="let question of questions; let i = index;" 
        [setQuestion]="question"  [number]='(i+1)+"/"+questions.length'>
        </app-test-result>
      </div>


    </div>
    <div class="bottomRowPos" >

        <button mat-raised-button class="continue" style="margin-right:15px !important" (click)="onSubmit()">Rozwiąż
          ponownie</button>
        <button mat-raised-button class="continue" (click)="onBack()" style="margin-left:15px !important">Wróć</button>
      
    </div>


  </div>
</div>