.answer{
   background-color: #505050;
}

.artStyle{

}

.photoStyle{
    max-height: 150pt;
    border: 3px solid black;
}

.photoPosition{
    text-align: center; margin-top:20px;
}

.codeStyle{
    background-color: rgb(226,226,226);
     margin-top:20px;
}

.questionStyle{
    background-color:#505050;
   
}

.message-body{
     color:#ededed!important;
     border-color: #0281D6!important;
     border-right: 2px solid #0281D6;
    border-top: 2px solid #0281D6;
    border-bottom: 2px solid #0281D6;
    border-left: 6px solid #0281D6;
}

.incorrect{
    color:#ededed!important;
    border-color: rgb(226, 43, 43)!important;
    border-right: 2px solid  rgb(226, 43, 43);
   border-top: 2px solid  rgb(226, 43, 43);
   border-bottom: 2px solid  rgb(226, 43, 43);
   border-left: 6px solid  rgb(226, 43, 43);
}

.correct{
    color:#ededed!important;
    border-color: rgb(100, 238, 87)!important;
    border-right: 2px solid  rgb(100, 238, 87);
   border-top: 2px solid  rgb(100, 238, 87);
   border-bottom: 2px solid  rgb(100, 238, 87);
   border-left: 6px solid  rgb(100, 238, 87);
}


.mat-checkbox{
    float:left;
    margin-top: 15px;
  }
  
  .mat-radio-button{
    float:left;
    margin-top: 15px;
  }
  
  p{
    padding-left: 40px;
  }
  
  .message.is-primary .message-body{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
/*  .message-body:hover{
    background-color:#707070;}
  
  .message-body{
    color:#ededed!important;
       border-color: #0281D6!important;
       border-right: 2px solid #0281D6;
      border-top: 2px solid #0281D6;
      border-bottom: 2px solid #0281D6;
      border-left: 6px solid #0281D6;
  }
  */
  .category{
      min-width: fit-content;
  }

  
@media only screen and (max-width: 960px) {
    .question{
        max-width: 100% ;
        padding-left:0;
        padding-right: 0;
    }
    .section{
        padding-left:0;
        padding-right: 0;

    }
}