<div class="treeContainer">
<button class="quizButton"
        type="button"
        data-toggle="collapse"
        data-target="#questionList"
        aria-expanded="true"
        aria-controls="questionList">{{quizName}}</button>
  <div class="collapse multi-collapse show" id="questionList">

    <div *ngFor="let question of questions; let i = index">
      <button class="quizButton questionButton"
              (click)="collapse(i)"> {{i+1}} &nbsp;&nbsp;&nbsp;{{question.text}}
              
              
            </button>
            <i class="material-icons editPos" (click)="onChange(question.id)">
                  edit
                  </i>
      <div id="question{{i}}"  class="quizCollapse">
          <ol>
            <li *ngFor="let answer of question.answers; let i = index"
            [ngStyle]="{'color':answer.status==1?'#6bea6b':'#ededed'}"><p>{{answer.text}}</p></li>
          </ol>
      </div>
      <div></div>
    </div>
  </div>

</div>
