<div class="container">
  <div fxLayout="column">
    <div fxLayout="row" >
    <div style="text-align: center;  FONT-FAMILY:Didact Gothic; color: cadetblue;
     text-shadow: 2px 2px grey;font-size: 70px; font-weight: bold; margin-top:15px;" >
      WITAJ!
    </div> 
  </div>
  <div fxLayout="row">
    <div style="text-align: center;  FONT-FAMILY:Didact Gothic; color:black;
  font-size: 30px; font-weight: bold; margin-top:15px;" >
     Witaj w demonstracji testu. 
     <br>
     Zapraszamy!
   </div>
   </div>
   <div fxLayout="row" >
    <div   >
   <button mat-raised-button style=" box-shadow: 0px 0px 18px 4px  rgba(1, 1, 1, 0.54);  
   height: 56px; font-size: 24px; display: block;
margin: auto; margin-top:30px;"   (click)="onSubmit()">PRZEJDŹ DO TESTU</button>
</div>
   </div>
   
   </div>
</div>